name: gnn-charge-models

channels:
  - psi4
  - conda-forge
  - defaults
  - dglteam
  - openeye
  - simonboothroyd

dependencies:

  - python
  - pip

    # GNN models
  - nagl >=0.0.5
  - dgl
  - dgl-cuda11.0  # gpu training

    # Model training
  - pytorch
  - pytorch-lightning
  - pytorch-gpu  # gpu training
  - cudatoolkit =11.0  # gpu training

    # Molecule loading, processing and labelling.
  - openff-toolkit-base >=0.9.1
  - openff-recharge >=0.1.3  # esp / electric field
  - openeye-toolkits
  - rdkit
  - psi4 >=1.5
  - qcportal >=0.15
  - h5py <3.2  # see conda-forge/h5py-feedstock/issues/103
  - qcengine
  - msgpack-python  # needed for qcengine
  - geometric
  - psiresp-base

    # Distributed molecule processing / labelling.
  - distributed
  - dask-jobqueue

  # Common dependencies
  - tqdm
  - seaborn
  - splore
  - rich

  - pip:
      - git+git://github.com/SimonBoothroyd/constructure  # am1bcc dataset generation
