name: gnn-charge-models

channels:
  - psi4
  - conda-forge
  - defaults
  - dglteam
  - openeye
  - simonboothroyd

dependencies:

  - python >=3.8
  - pip

    # GNN models
  - nagl >=0.0.7
  - dgl
#  - dgl-cuda11.0  # gpu training

    # Model training
  - pytorch <=1.10
  - pytorch-lightning
#  - pytorch-gpu  # gpu training
#  - cudatoolkit =11.0  # gpu training

    # Molecule loading, processing and labelling.
  - openff-toolkit-base >=0.10.5
  - openff-recharge >=0.2.2  # (r)esp / electric field
  - openeye-toolkits
  - rdkit
  - psi4 >=1.5
  - qcportal >=0.15
  - h5py <3.2  # see conda-forge/h5py-feedstock/issues/103
  - qcengine
  - msgpack-python  # needed for qcengine
  - geometric
#  - xtb-python  # if not on OSX.

    # Distributed molecule processing / labelling.
  - distributed
  - dask-jobqueue

    # Train / test remainder of FF
  - openff-evaluator-base >=0.3.11
  - openff-bespokefit
  - nonbonded
  - absolv-base
  - openmmtools

  # Common dependencies
  - tqdm
  - seaborn
  - splore
  - molesp
  - rich
